:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}
  
.dark-mode{
    background-color: #222;
    color: #fff;
}

.light-mode{
    background-color: #fff;
    color: #222;
}

:host {
    --background-color: #fff;
  }
  
  :host(.dark-mode) {
    --background-color: #333;
  }
  
  .my-element {
    background-color: var(--background-color);
  }