<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>USGS Geodata</title>
</head>

<body>
  <!-- <div>
    <app-bar-chart></app-bar-chart>
  </div> -->
  <!-- <h2>This is where the D3 charts are used</h2>
  <app-d3-charts></app-d3-charts> -->
  <!-- <h2>This is where deck-gl is being used</h2> -->
  <app-deck-scatter></app-deck-scatter>

  <app-server-request></app-server-request>
  <!-- <ul class="magnitudesWithLocation">
    <ng-container *ngIf="jsonData">
      <li *ngFor="let eq of jsonData.features">
        {{eq.properties.title}}
      </li>
    </ng-container>
  </ul> -->



</body>

</html>